<!-- Blog Post -->

<!-- Title -->
<h1><%= @post.header %></h1>

<!-- Sub Header -->
<h4><%= @post.subheader %></h4>

<!-- Author -->
<p class="lead">
by <a href="#"><%= @post.author.full_name %></a>
</p>

<hr>

<p><span class="glyphicon glyphicon-time"></span> Posted on <%=@post.created_at_prettier%></p>

<hr>

<p class="lead"><%= @post.body.split(/\n/).first %></p>
<%= @post.body %>
