<!-- Blog Post -->

<!-- Title -->
<h1><%= @post.header %></h1>

<!-- Author -->
<p class="lead">
by <a href="#"><%= [@post.author.first_name, @post.author.last_name].join(' ') %></a>
</p>

<hr>

<p><span class="glyphicon glyphicon-time"></span> Posted on <%=@post.created_at_prettier%></p>

<hr>

<!-- Try to find a way to do this using Nokogiri -->
<p class="lead"><%= @post.body.split(/\n/).first %></p>
<%= @post.body %>
